[2016-11-05 15:45] gnarf opened #2 "Improve Code Coverage"
I was noticing that the code coverage here is very low (<60%)

[2016-11-05 15:46] gnarf commented on #2
ugh, hit tab,enter accidentally too soon...

https://codecov.io/gh/webpack/webpack-sources/

I was wondering if this is something you'd like some help improving, and in that vein is there any bits of this code that I should avoid covering because it might get removed?

[2016-11-12 16:00] sokra commented on #2
Everything in this repo is relevant.

I really appreciate your help here. The test infrastructure is already there, so just send a PR with tests and I'll merge it. Thanks 👍

[2016-11-16 06:30] TheLarkInn commented on #2
@gnarf I've also got a branch for upgrading the library to ES6. If this is something that interests you as well you can PR against that branch and just @ mention me so I can merge it as well. I could use help ensuring that deps are ES6 friendly and that we can use the correct module and exports.

[2016-11-16 13:33] gnarf commented on #2
That sounds like a plan! :)

I'm super busy this week myself, but I'll come back around to this soon!

[2017-01-30 08:01] hccampos opened #7 "Expand Webpack's benchmark tests to measure webpack-sources perf"
Since there is now a benchmarking test suite for `webpack`, I think it would be useful to be able to measure performance improvements in `webpack-sources` too. Since it is a separate package I think changes to `webpack-sources` will affect all the measurements in the main benchmark and it will therefore not show any performance differences.

For huge bundles, `webpack-sources` has to do a lot of w

[2017-03-04 07:07] patrickhulce opened #8 "PrefixSource bug: source() !== sourceAndMap().source"
empty lines are not handled consistently which breaks `ReplaceSource` indices that might be based on a particular version of the source.

**Example**
Prefix: `foobar `
Nodes: `["console.log(1);\n", "\n", "console.log(2);\n"]`

source() -> `foobar console.log(1);\n\nfoobar console.log(2);\n`
sourceAndMap().source -> `foobar console.log(1);\nfoobar \nfoobar console.log(2);\n`

[2017-03-04 21:52] TheLarkInn commented on #8
Is there a specific issue in which you discovered this specific bug?

[2017-03-04 22:29] patrickhulce commented on #8
@TheLarkInn yep, while trying to write a webpack plugin that replaced a specific section of a bundle before uglifying using a `ReplaceSource`, I noticed that enabling source maps would render the output unparseable.

This may not be what `ReplaceSource` is intended for (and if I understood more about webpack internals I probably wouldn't even need to do it this way at all 😄), but this seemed like

[2017-03-04 22:59] TheLarkInn commented on #8
Oh just wanted to double check!! No problem at all and we are 1000% for the contribution. Using webpack-sources is definitely the way to go for modifying sources. We've been trying to hunt down a bug related to source maps and didn't know if this was the motivation or not.

[2017-03-07 17:07] #8 closed

[2017-03-31 06:20] denglingbo opened #14 "I wan replace some string in the code"
code: xx.js
source: abcdedfg, ../images/xx.png ....

i want replace the '../images/xx.png' to 'images/xx.png'

compilation.assets[file] = new ReplaceSource(
    newCode
)

npm run build:
/node_modules/webpack-sources/lib/ReplaceSource.js:35
	return this._replaceString(this._source.source());

TypeError: this._source.source is not a function

[2017-04-02 19:24] Vanuan opened #15 "Destructuring not mapped correctly"
Here's an example
[code]

You can clone it here: https://github.com/Vanuan/webpack-demo-app/commit/d2b1fb74e2468678534a8a71a9163e703ad7364f

[2017-04-02 22:00] Vanuan commented on #15
Here's visualization using http://paulirish.github.io/source-map-visualization/#custom
![screenshot from 2017-04-03 00 57 20](https://cloud.githubusercontent.com/assets/361985/24591390/d73e109e-1808-11e7-8413-5df45a204c92.png)

[2017-04-02 22:02] Vanuan commented on #15
This doesn't look right
![screenshot from 2017-04-03 01 01 03](https://cloud.githubusercontent.com/assets/361985/24591405/29afc00c-1809-11e7-8806-b4b0f0b4277a.png)

[2017-04-02 22:09] Vanuan opened #16 "Harmony imports are not mapped"
You can't set a breakpoint to the import line. Only `require` works.

![screenshot from 2017-04-03 01 07 20](https://cloud.githubusercontent.com/assets/361985/24591457/36d380d8-180a-11e7-9497-e40806151edf.png)

[2017-04-12 16:14] brennanfee opened #17 "Should add an explicit license"
I would guess that you guys intended to license this with the same MIT licenses you do most of your projects.  However, the fact that one is not explicitly posted opens up questions as to intent.

It would be a good idea to add an explicit license to be clear to consumers your and their freedoms.

[2017-05-03 18:45] mzgoddard opened #18 "Sources whose source() return strings do not have the correct size() if it contains unicode"
Strings returned by `source()` that have unicode characters outside of the ascii range have lengths that are not the number of bytes of the string but the number of unicode characters in the string. The number of bytes could be computer by casting the string to a `Buffer` whose length will be the number of bytes or other possible ways.

As it is, webpack features and plugins that depend on an accu

[2017-06-03 12:18] sokra commented on #17
yep send a PR

[2017-06-28 04:02] TikiTDO opened #21 "Using listMap returns a completely broken source map"
I have been having some major issues getting webpack to generate valid source maps in dev mode (Also in prod, though I haven't started looking at that yet). In the end I was able to isolate this issue down to [here](https://github.com/webpack/webpack-sources/blob/master/lib/SourceAndMapMixin.js#L25).

It appears webpack is generating Source objects, as per the following example (Formatted for conv

[2017-07-04 07:43] webpack-bot opened #22 "consider using krisselden/fast-source-map or something like it"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
source-map library is antequated and slow + consumes tons of memory.

**If the current behavior is a bug, please provide the steps to reproduce.**
**What is the expected behavior?**
fast sourcemaps

**If this is a feature request, what is motivation or use case for changing the behavior?**
For larg

[2017-07-04 07:43] sokra commented on #22
On **decoding** source maps... webpack **encodes** source maps.

But I'm open to a PR if it's faster.

[2017-07-24 08:40] sokra commented on #21
This is expected. `listMap` doesn't map columns. You input Code+SourceMap is only a single line. Therefore only a single mapping `AAAA` which maps line 1 to line 1.

[2017-07-24 08:40] #21 closed

[2017-07-24 08:41] sokra commented on #14
ReplaceSource takes a `Source` as argument. i. e. use a `RawSource` or an `OriginalSource`.

[2017-07-24 08:41] #14 closed

[2017-07-24 08:43] sokra commented on #16
`import` is not a statement, it's a declaration. You can't set breakpoints on declarations.

The spec says before starting to evaluate the source code all imports have to be resolved.

[2017-07-24 08:43] #16 closed

[2017-07-24 08:44] #17 closed

[2017-07-24 08:45] sokra commented on #15
This is not in the scope of this lib. You should file an issue on your transpiler (babel).

[2017-07-24 08:45] #15 closed

[2017-08-08 22:33] MagicDuck commented on #22
@sokra sorry for the long time gap before replying again. I had to debug some source-map code yesterday and can give you a very common example of webpack decoding source maps: when you use babel, the babel sourcemaps are used as input sourcemaps for later steps, so the later steps need to decode them.

An API that does that is https://github.com/mozilla/source-map#sourcenodefromstringwithsourcemap

[2017-08-09 08:20] sokra commented on #22
@MagicDuck That would be great. This way everybody will benefit from it.

[2017-09-18 22:04] EECOLOR opened #26 "`RawSource.node` fails if `source` is a `Buffer`"
Which can easily happen in webpack, file-loader for example emits files as buffer instances.

[2017-11-04 12:29] wvankuipers opened #28 "Update to source-map 0.6.1 causes an error when running Webpack"
This update seems to create another issue (this is also reported [here](https://github.com/webpack/webpack-sources/pull/27#issuecomment-341891811)):

[code]

Reverting to v1.0.1 resolves this issue.

[2017-11-05 04:00] d3viant0ne commented on #28
@wvankuipers - I've tried `v1.0.2` in quite a few spots without being able to repo this.

Issues with `source-map@0.6.x` are pretty wide spread from what I have read thus far, meteor among others.

There is no changelog for either of the `0.6.x` releases & quite a few commits to sift through. I can't repo with anything I have access to, either getting a look at what you are having trouble with or

[2017-11-05 07:34] wvankuipers commented on #28
I created a simple example here https://github.com/wvankuipers/webpack-test

It seems to be specific to `Backbone.Marionette` in combination with the `babel-minify-webpack-plugin` package.

[2017-11-06 06:55] wvankuipers commented on #28
I did some more research and it seems to be coming down to [this line](https://github.com/marionettejs/backbone.marionette/blob/master/lib/backbone.marionette.js#L16) in the Backbone.Marionette library:

    typeof define === 'function' && define.amd ? define(['backbone', 'underscore', 'backbone.radio'], factory) :

And then specificly

    define(['backbone', 'underscore', 'backbone.radio'], fact

[2017-11-06 07:22] wvankuipers commented on #28
A (temporary) workaround for this issue is to add

    sourceMap: null

To the configuration of the `babel-minify-webpack-plugin` package.

[2017-11-06 22:07] dancollingridge commented on #28
Same issue here. I had to force install version 1.0.1 (rather than letting webpack pull in its own version) to get my project to build:

`"webpack": "^2.2.1",
+    "webpack-sources": "1.0.1",
     "webpack-bundle-analyzer": "^2.2.1",
     "webpack-dev-middleware": "^1.10.0",
     "webpack-hot-middleware": "^2.16.1",
`

[2017-11-06 22:35] michael-ciniawsky commented on #28
@dancollingridge Could you provide Error logs and a bit of relevant context about your project ?

[2017-11-06 22:56] fkarczeski commented on #28
I also had the same issue.

Error: original.line and original.column are not numbers -- you probably meant to omit the original mapping entirely and only map the generated position. If so, pass null for the original mapping instead of an object with empty or null values.

    at SourceMapGenerator_validateMapping [as _validateMapping] (webpack-repo\node_modules\webpack-sources\node_modules\source-

[2017-11-06 23:12] michael-ciniawsky commented on #28
@fkarczeski Could you try without the `babili-webpack-plugin` please ?

@dancollingridge Are you also using `babili-webpack-plugin` for minification?

[2017-11-06 23:13] dancollingridge commented on #28
Exact same trace as posted above.

My app is a Vue.js app.

package.json target is:

[code]

`npm run build` produces:

[code]

[2017-11-06 23:14] dancollingridge commented on #28
Yes, I am using babili-webpack-plugin.

[2017-11-06 23:15] dancollingridge commented on #28
In build/webpack.prod.conf.js:

[code]

[2017-11-06 23:22] michael-ciniawsky commented on #28
@dancollingridge Does the build succeed without `babili-webpack-plugin` ?

[code]

is this* 'pseudo'  or did you try without any options ?

[2017-11-06 23:26] michael-ciniawsky commented on #28
@all Which version of `babili-webpack-plugin` ?

[2017-11-06 23:26] michael-ciniawsky commented on #28
cc @boopathi

[2017-11-06 23:34] fkarczeski commented on #28
@michael-ciniawsky , not calling BabiliPlugin works (as expected).

This is my current set up that fails:
new BabiliPlugin({}, require("babel-preset-minify"))

Calling with no options also fails for me with the same error:
new BabiliPlugin({}, {})

babili-webpack-plugin "version": "0.1.2"

[2017-11-07 00:12] michael-ciniawsky commented on #28
Yep, the plugin uses `webpack-sources` directly to update the assets

[2017-11-07 05:03] dancollingridge commented on #28
If I disable `babili-webpack-plugin` in webpack.config the build works.

If I replace `babili-webpack-plugin` with `babel-minify-webpack-plugin` I get the same error as before.

[2017-11-07 06:36] wvankuipers commented on #28
I also tried both `babili-weback plugin` and `babel-minify-webpack-plugin` and found them both giving the same error. As [proposed](https://github.com/webpack/webpack-sources/pull/27#issuecomment-342290036) by @mattdsteele I [created a issue](https://github.com/mozilla/source-map/issues/304) in the `source-map` project as this seems not to be purely related to the `webpack-sources` package.

[2017-11-08 12:15] alan-agius4 opened #29 "Improve performance of `node` method in `ReplaceSources`"
This is related to this issue: https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/161

I have a huge code base with thousands of files, and after several hours of trying to figure out with uglify-js was slow when enabling sourcemaps.  I ended up looking into this library and it's source.

I noticed that `node` method in `ReplaceSources` takes a lot of time to execute, infact if I di

[2017-11-13 08:41] alan-agius4 commented on #29
@sokra, any feedback please?

[2017-11-17 14:21] breadadams commented on #28
I'm using `babel-minify-webpack-plugin@0.2.0`, forcing `webpack-sources` to `1.0.1` in package.json as @dancollingridge suggested appears to fix it for now (as many more have said here https://github.com/webpack/webpack/issues/5931)

[2017-11-24 20:47] MagicDuck opened #30 "remove unnecessary memory allocation from ConcatSource and ReplaceSource"
The code in `ConcatSource::source()` and `ReplaceSource::_replaceString()` is using `array.join("")` which causes allocation of new strings. Using simple concatenation with += instead causes node to create what it calls something like "concatenated strings" internally which reuse the memory of the original strings being concatenated (this is probably possible since strings are immutable).

This pr

[2017-11-24 20:48] MagicDuck commented on #30
I will create a PR soon.

[2017-11-25 10:05] filipesilva commented on #30
Think this can be closed since https://github.com/webpack/webpack-sources/pull/31 was merged.

[2017-11-25 10:05] #30 closed

[2017-11-25 20:50] d3viant0ne commented on #30
Thanks @MagicDuck

[2017-11-25 22:54] MagicDuck commented on #30
No worries :)
There's a bunch more, on a more minor level, that i have seen in the source-list-map project. I want to see what can be done. The most bizarre one is this: https://github.com/webpack/source-list-map/blob/master/lib/helpers.js
I am not sure why dev tools is reporting getNumberOfLines as allocating tens of mb in my case...

[2017-12-12 10:30] jussikinnula commented on #28
I'm also interested in this.

[2017-12-16 16:12] nealoke commented on #28
Just wanted to chip in and say that in my case it doesn't matter if i use the `BabiliPlugin()` or not, as long as I don't have the `"webpack-sources": "1.0.1"` installed it always fails.

Also wanted to provide you with my files used:
- [`package.json`](https://gist.github.com/nealoke/b9adc553b63d09e5be3ef8b012d51fde#file-package-json)
- [`webpack.config.js`](https://gist.github.com/nealoke/b9adc5

[2017-12-20 23:47] catamphetamine commented on #28
Replacing `require('babili-weback-plugin')` with `require('uglifyjs-webpack-plugin')` works

[2017-12-21 11:39] glixlur commented on #28
@catamphetamine It works because then you’d be using an entirely different thing.

[2018-01-30 15:02] pravi opened #34 "please update source-map to 0.7"
With source-map 0.7, two tests are failing.

[code]

[2018-01-30 15:08] evilebottnawi commented on #34
@pravi right now impossibly, look https://github.com/mozilla/source-map/blob/master/CHANGELOG.md#070

[2018-02-01 14:27] anthonator commented on #28
Has anyone tried `source-map` 0.7.0?

[2018-02-06 23:13] SEAPUNK commented on #28
So is the solution here to just not use the babili plugin, or is there a version we can bump to get rid of this error?

[2018-02-06 23:36] scottohara commented on #28
If you can wait a couple of weeks **and** assuming you will be able to upgrade immediately;  `webpack@4.x` will come with support for UglifyJS2 (expected on or around Feb 24).

I have a number of projects using `babel-minify-webpack-plugin` that have been affected by this issue since it first started on 4 November (when `webpack-sources@1.0.2` was released), and I've been patiently waiting for a f

[2018-02-06 23:48] SEAPUNK commented on #28
@scottohara To be honest, I'm not really interested in UglifyJS2; I chose babel-minify, and I want to stick with it. Switching back to UJS2 won't solve this issue.

In the meantime, the workaround I implemented was forcing webpack to switch to webpack-sources@1.0.1.

[2018-02-14 19:48] abiduzz420 opened #35 "Refactor: Convert the existing code to Idiomatic ES6"
I would like to refactor the code base wherever possible so that we are using the latest ES6 syntax.
One example from the source would be:
Turning this
[code]
into
[code]
This sort of code would decrease verbosity and helps contributors to write efficient and better code. At some places, I will be using [Lebab](https://github.com/lebab/lebab), a codemod for changing ES5 to ES6 code. Would like to

[2018-03-04 15:47] andreicristianpetcu commented on #34
Relevant downstream issue https://github.com/webpack/webpack-sources/issues/34

[2018-04-25 16:09] lencioni commented on #34
Do you think webpack-sources could be updated in a way that supports both the old and new versions of source-map? That would allow folks running Node 8+ to get the performance improvements without hurting folks on older Node. Thoughts?

[2018-04-25 16:11] evilebottnawi commented on #34
@lencioni we work on this https://github.com/mozilla/source-map/issues/326#issuecomment-382514820, can't do here, it should be solved in `source-map` package :disappointed:

[2018-05-06 17:16] wvankuipers commented on #28
Seems to be an issue with https://github.com/webpack-contrib/babel-minify-webpack-plugin/issues/68 but not sure if it is originated in this project or babel-minify

[2018-06-14 11:44] yshterev commented on #29
@alan-agius4 Hi.. any workaround for this issue?

[2018-06-14 11:54] alan-agius4 commented on #29
There is this PR
https://github.com/webpack/webpack-sources/pull/23 but we are still waiting
for it to be merged.

On Thu, 14 Jun 2018 at 13:44, Yanko Shterev <notifications@github.com>
wrote:

[2018-07-09 21:47] lencioni commented on #34
@evilebottnawi I'm not sure I understand why this can't be resolved here, can you explain in a little more detail?

As far as the API is concerned, it seems that the main change is that source-map is now async instead of synchronous. Could we make this work by doing the following?

1. Change webpack-sources to be asynchronous
2. In webpack-sources, detect which version of source-map it has availab

[2018-08-07 12:33] mlavina commented on #34
I think this is the issue here because something like `yarn` will fail to install if there is an engine mismatch. If someone is on Node 6 trying to install this package which is using `sourcemap 0.7` it will fail.

An option I have been thinking is either
1) Have it as an `optionalDependency` and do some installing on runtime if the install failed
2) Similar just do some kind of `postinstall` cond

[2018-08-07 13:00] evilebottnawi commented on #34
@mlavina i think 2 point is looks good, let's do it first in plugin, example uglify/terser and then implement here, feel free to PR. Also some people use npm, better create `install.js` script and move put logic here

[2018-08-30 16:40] edmorley commented on #29
#23 has now been merged/released, so this issue can be closed :-)

[2018-08-30 16:51] #29 closed

[2018-08-30 16:53] evilebottnawi commented on #28
We use latest `source-map` version with compatibility `node@6` (https://github.com/webpack/webpack-sources/blob/master/package.json#L19), will be updated after we drop support `node@6`, plugins can use own version, feel free create issue where we use old version

[2018-08-30 16:53] #28 closed

[2018-08-30 16:53] evilebottnawi commented on #18
@mzgoddard problem still exists? IF yes, can you provide minimum reproducible test repo?

[2018-08-30 16:55] evilebottnawi commented on #22
Looks https://github.com/krisselden/fast-source-map abandoned, also original https://github.com/mozilla/source-map was rewritten using `wasm` and should be very fast, but we can update their right now, because `node@6` doesn't supported in `source-map@7`

[2018-08-30 16:55] #22 closed

[2018-08-30 16:55] evilebottnawi commented on #35
@abiduzz420 feel free to send PR

[2018-08-30 16:56] evilebottnawi commented on #26
@EECOLOR problem still exists?

[2018-08-30 16:56] evilebottnawi commented on #7
@hccampos do you interested in PR?

[2018-08-30 18:57] EECOLOR commented on #26
Example:

https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L85
https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L79
https://github.com/webpack/webpack/blob/master/lib/NormalModule.js#L191
https://github.com/webpack/webpack/blob/master/lib/NormalModule.js#L138

[2018-08-31 18:44] lpsantana opened #39 "Build prod in ionic project results in heap out of memory"
Guys, the new version of webpack-source 1.2.0 completely screw up my ionic project build!

[13:44:05]  webpack started ...
[13:44:23]  copy finished in 44.53 s

#
# Fatal error in , line 0
# API fatal error handler returned after process out of memory
#

==== C stack trace ===============================

    ionic(v8::base::debug::StackTrace::StackTrace()+0x16) [0x15c8c36]
    ionic() [0x1451857]

[2018-09-06 00:53] hedgepigdaniel commented on #34
What about having an intermediate package - e.g. `webpack-sources-source-map`

It can have a peer dependency on `source-map@^0.6.0` and an optional dependency on `source-map@^0.7.0` (is that allowed...?). At runtime when it imports `source-map` it would end up with `0.7.0` only if it installed successfully. It could wrap both of them, and convert the synchronous API of `0.6.x` into the asynchronou

[2018-09-22 09:06] EECOLOR commented on #26
@evilebottnawi Just create a `RawSource` with a buffer as `value` and call `node` on it

[2018-09-22 15:42] mlavina commented on #34
Yeah that's the part that we need to figure out

At this point Node 6 is almost out of maintenance mode in April 2019 and I think at that point we can probably justify the breaking change to drop Node 6 support. If that's the case I am somewhat more inclined to wait then submit my proposed changes.

[2018-10-23 10:57] #18 closed

[2018-10-23 10:59] evilebottnawi commented on #39
/cc @lpsantana problem still exists? If yes, please create minimum reproducible test repo, thanks!

[2019-01-16 10:05] timbru31 commented on #39
We are facing the same problem (I guess since `@ngtools/webpack`'s commit: https://github.com/angular/angular-cli/commit/b071d1cd1d3812609f933739db999ad573b6b9d6)

Exception:
[code]

[2019-01-16 10:54] evilebottnawi commented on #39
@tbroadley can you create minimum reproducible test repo?

[2019-01-16 13:12] tbroadley commented on #39
Hey, I assume you meant @timbru31?

[2019-07-12 07:13] lamhieu-vk opened #50 "Should add `pop` public method for `ConcactSource` ?"
Some Webpack plugins use `ConcactSource` to add source map URL and sometimes we should remove or pop item from `ConcactSource`, Is there any more reason for us to do it? I can help if this is agreed.

[2019-07-12 10:27] evilebottnawi commented on #50
What do you mean, please clarify

[2019-07-13 05:49] lamhieu-vk commented on #50
@evilebottnawi because I see `ConcactSource` have children is an array, when I want to remove an item from list but a must-do manual. If we support add method I think we support remove method too.

[2019-07-13 13:38] evilebottnawi commented on #50
@lamhieu-vk can you provide example of code, thanks

[2019-07-14 08:33] lamhieu-vk commented on #50
@evilebottnawi for example, in plugin A do something and set assets is a `ConcactSource ` have children like
[code]
in my plugin, I want to have a way to remove children in `ConcactSource` from plugin A return, for example:
[code]

[2019-07-15 10:26] evilebottnawi commented on #50
/cc @sokra

[2019-07-15 21:59] marcins commented on #34
What's the status of updating `source-map` in `webpack-sources` now that Node 6 is out of LTS and no longer supported? I believe this was the main blocker in the past.

FYI @TheLarkInn - the performance fix in https://github.com/mozilla/source-map/pull/308 which never made it to the 0.6.x branch, but only to the new async/WASM 0.7.x branch of `source-map` appears to significantly improve performan

[2019-07-16 09:39] evilebottnawi commented on #34
In todo

[2019-07-17 15:11] lamhieu-vk commented on #50
@sokra can you tell me anything?

[2019-07-31 09:53] sokra commented on #50
`ConcatSource` optimizes children internally after adding items. So `removing` might sometimes won't work as expected.

Anyway `Source`s are intended to be immutable after initial generation. `remove` doesn't fit good into the design.

Avoid adding items at first place. You can use an array to construct the items and add them to the `ConcatSource` after done.

[2019-07-31 09:53] #50 closed

[2019-07-31 11:51] yongnanzhu opened #55 "Error: "." is not in the SourceMap webpack-sources@1.4.0"
Hi, we found that webpack-sources@1.4.0 cause this error, however webpack-sources@1.3.0 is ok.

the detail errors is listed bellow.

/cloud/source_code/node_modules/_source-map@0.6.1@source-map/lib/source-map-consumer.js:753
throw new Error('"' + relativeSource + '" is not in the SourceMap.');
^
Error: "." is not in the SourceMap.
at BasicSourceMapConsumer.SourceMapConsumer_sourceContentFor [as so

[2019-07-31 11:53] evilebottnawi commented on #55
@yongnanzhu can you create minimum reproducible test repo?

[2019-07-31 13:01] rut2 commented on #55
Same issue for me as well in 1.4.0

[code]

[2019-07-31 13:05] evilebottnawi commented on #55
Please create minimum reproducible test repo

[2019-07-31 13:14] Aure77 commented on #55
Same issue with node 5.4.1 & webpack@3.3.0 (with webpack-sources resolve at 1.4.0)

[2019-07-31 13:15] rut2 commented on #55
Isn't this is the problem,
it is working windows machine but not on Ubuntu machine. How can I use @1.3.0 until it is resolved?
![image](https://user-images.githubusercontent.com/4327606/62214627-11caaa80-b3c3-11e9-84a4-dc8471a6920c.png)

[2019-07-31 13:16] evilebottnawi commented on #55
webpack version and node version?

[2019-07-31 13:18] #55 closed

[2019-07-31 13:20] sokra commented on #55
Thanks for your reports. Please upgrade to 1.4.1 and open new issues if there are still issues.

[2019-07-31 13:28] rut2 commented on #55
@sokra Working like a charm 👍
Great ! Thanks.

[2019-07-31 13:53] aaronjensen opened #65 "Error: "." is not in the SourceMap. still in 1.4.1"
Similar to #55, but not fixed for me in 1.4.1, I get this when building:

[code]

[2019-07-31 13:54] evilebottnawi commented on #65
Please create minimum reproducible test repo

[2019-07-31 13:55] aaronjensen commented on #65
I'll work on it

[2019-07-31 14:27] sokra commented on #65
Could you check if you are not accidentically using the 1.4.0 version?

`client/node_modules/terser-webpack-plugin/node_modules/webpack-sources/package.json`

[2019-07-31 14:30] aaronjensen commented on #65
Yep, it looks like that was it. I cleared the old versions out of my yarn.lock and rebuilt and it worked fine. Thanks!

[2019-07-31 14:30] #65 closed

[2019-08-02 05:53] naralasaimanoj opened #66 "Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Getting this error continously after upgrading the package to 1.4.1. No issues were observed in 1.3.0

applySourceMap.js file was added recently. what is going wrong here ?

<--- JS stacktrace --->

==== JS stack trace =========================================

    0: ExitFrame [pc: 0xb41561dbe1d]
    1: StubFrame [pc: 0xb41561a0573]
Security context: 0x353fb8d9e6e9 <JSObject>
    2: /* anonymous

[2019-08-02 11:12] evilebottnawi commented on #66
@naralasaimanoj please create minimum reproducible test repo

[2019-08-07 13:30] JBethay commented on #66
Having the same issue. Upgrading to 1.4.1 was causing our build to fail with a heap limit Allocation failure. Rolling back to 1.3.0 fixes the issue. Not able to produce a test repo at the moment. I am curious if this is caused by some edge case or a larger issue with 1.4.1. Anyone else running into a similar issue? (I know I could try increasing Node's memory, but until upgrading to 1.4.1 we have

[2019-08-20 11:37] SkReD commented on #66
Also encountered this problem in project with a lot of async chunks. Try to create minimal repro if find time. In version 1.3.0 no problem found

[2019-09-05 10:38] Tom910 commented on #66
Some problem

[2019-09-05 10:39] evilebottnawi commented on #66
Somebody can create minimum reproducible test repo otherwise issue will be closed

[2019-09-16 16:51] 7rulnik commented on #66
Seems that problem reproduces only with node@10. I tried it with node@12 — all works

[2019-09-23 10:44] evilebottnawi commented on #66
@7rulnik What is node@10? Latest?

[2019-09-25 16:56] 7rulnik commented on #66
@evilebottnawi major version of node. So on 10.x.x it doesn't work

[2019-09-25 18:35] evilebottnawi commented on #66
@7rulnik can you provde reproducible test repo with instructions?

[2019-09-25 19:49] 7rulnik commented on #66
Unfortunately, I can't. It's not so easy. I have about ~100 chunks and node target.

[2019-09-25 19:52] evilebottnawi commented on #66
@7rulnik maybe you can provide access to private project (email: sheo13666q @ gmail.com)? if necessary I can sign an NDA, reproducible test repo allow us to solve problem more fast

[2019-09-27 12:36] 7rulnik commented on #66
@evilebottnawi sorry, but I believe it's not possible because I'm working in the bank and we have really strong security rules.

So the main idea that you should have a lot of dynamic imports (in our case it's about 120). Maybe you can give me advice how to debug it?

[2019-09-27 12:49] evilebottnawi commented on #66
@7rulnik any additional information will be great

[2019-09-28 18:53] vankop commented on #66
@7rulnik if it is memory leak heap snapshot will be very useful, i can take a look on it if you will provide it.
If problem is common to server environment (e.g. docker, kubernetes or another remote server). I can suggest to use `https://github.com/sfninja/thetool` to make sampling.

[2019-09-28 18:57] vankop commented on #66
I can just make +1 on this problem. We faced with same problem (same a lot of async chunks). However, we have just increased max old space size.

Unfortunately, I don't work on that project now and can not help with investigation.

[2019-09-28 19:32] vankop commented on #39
@evilebottnawi same problem as https://github.com/webpack/webpack-sources/issues/66

[2019-09-30 11:24] evilebottnawi commented on #39
Thanks, let's close in favor https://github.com/webpack/webpack-sources/issues/66 (new issue), any reproducible test repo welcome, we need more information

[2019-09-30 11:24] #39 closed

[2019-10-02 00:06] 7rulnik commented on #66
@evilebottnawi @vankop hey guys

I tried to make a repro — no luck here. Also, I tried to capture heap snapshots via inspect API — no luck here too. My mac just stuck when I was trying to capture it.

But I did some research about node:

[2019-10-02 01:57] 7rulnik commented on #66
Finally, I managed how to make repro.
https://github.com/7rulnik/webpack-sources-leak-repro
it's private. I added @evilebottnawi @vankop and @sokra as collaborators

[2019-10-02 07:57] vankop commented on #66
At first look looks like generating source maps for `ConcatSource` with more than 4k children (strings, `ConcatSource`, `ReplaceSource `) takes extremely too much resources.

I will take a deep look later.

[2019-10-02 14:11] sokra commented on #66
I was not able to see the problem in your repo @7rulnik

It runs fine, it even generates smaller SourceMaps files with 1.4.1 compared to 1.3.0.

I tried with node `10.15.3` and `12.8.0`

---

Totally possible, each node probably points to a different location in the original source code.

[2019-10-02 14:20] 7rulnik commented on #66
@sokra it's strange. Try to increase page's count?
@vankop Did it crash for you?

[2019-10-02 14:44] vankop commented on #66
Yes it crashes for me, I'm getting out of memory for default max old space size. I have pointed where it happens

but I don't know how to help you 😞 it looks like source mapping just cost a lot of RAM =( @sokra @evilebottnawi @7rulnik I can upload for you heap snapshots (before source nodes creation, after, after starting traversing source nodes and generating source map) if you want to.

[2019-10-02 14:48] evilebottnawi commented on #66
It is happens only on node@11, i recommend try to avoid using non stable version of node, sometimes they have perf/memory regressions in non LTS release (sometimes in LTS too :trollface: )

[2019-10-02 14:50] vankop commented on #66
Ok I will try to run in Node.js 12 in docker (So it totally will not depend on environment) later evening today.

[2019-10-02 14:54] sokra commented on #66
I'm running on windows, maybe this is a OSX or linux only issue?

[2019-10-02 15:18] 7rulnik commented on #66
@evilebottnawi it happens from 10.0.0 to 12.0.0 and fixed in 12.1.0 on macOS@10.14.6
I can try to run it on windows too

[2019-10-02 16:04] sitesfaction commented on #66
win 10, node 10.15.3
it's all ok

<details>
  <summary>terminal log</summary>

[code]

</details>

[2019-10-02 17:55] sokra commented on #66
hmm... So to conclude this seem to be a fixed node.js bug/inefficiency that occurs in macOS with node < 12.1.0. I don't think it's worth trying to find and adding a workaround in source, as there are solutions (upgrade node, or increase memory) available. For performance reasons lastest node.js is recommended anyway.

[2019-10-02 17:55] #66 closed

[2019-10-02 19:19] vankop commented on #66
for me still works only with increased memory.
**Dockerfile**
[code]

**index.js**
[code]

after build run with `docker build -t webpack-leak . && docker run -it --memory=5gb webpack-leak`

if setup `1500mb` as memory limit I get out of memory =(

[2019-10-22 13:43] sokra commented on #34
Sorry, but the `source-map@0.7` version is nearly impossible to use without completely changing our API to Promises.

In my opinion using WASM is not really needed for good performance in source-map. Or at least it's not worth the trade-off of additional complexity (async, managing wasm buffer initialization).

I really thinking about creating my own version of `source-map` without that stuff.

[2019-10-22 14:08] evilebottnawi commented on #34
I think will be great to look on benchmarks, maybe we can open an issue about `sync` ability for `source-map`, `terser` maintainers need sync version too

[2019-10-22 16:09] marcins commented on #34
To be honest I'm less concerned about the WASM etc stuff that comes with the newer versions of `source-map`, but the fix of a fundamental performance bug that has serious implications for CPU and memory usage when generating source maps for large compilations. We couldn't upgrade to Webpack 4 without applying this patch.

Maybe it would be enough as a starting point to fork `source-map` 0.6.x, and

[2019-10-29 18:30] leoperetti opened #75 "last version webpack-sources consuming source-map@0.6.1"
npm ERR! code ETARGET
npm ERR! notarget No matching version found for source-map@~0.6.1.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'webpack-sources'
npm ERR! notarget

It prevents me from creating new angular applications
Here paste my

[2019-11-05 13:07] evilebottnawi commented on #75
@leoperetti can you create minimum reproducible test repo?

[2019-11-05 13:58] leoperetti commented on #75
I was installed the package version from .tgz

npm install https://registry.npmjs.org/source-map/-/source-map-0.6.1.tgz

The problem was the source-map package, not webpack-sources, sorry.

[2019-11-05 14:32] #75 closed

[2019-11-13 15:32] Diokuz commented on #66
Have this problem on node 12.13.0.

[2019-11-27 14:08] maksympc commented on #66
Have the same problem on Node v12.13.0

[2019-12-12 08:58] mcaubrey commented on #66
Just ran into this problem with node v10.15.3

[2019-12-30 21:15] jdmairs commented on #66
I'm seeing this after adding amCharts4 to my app.
OSX Catalina 10.15.2
Node 10.16.2

[2020-02-13 06:05] davidlygagnon commented on #66
I'm also getting this with 12.13.0 :(

[2020-02-13 13:48] CaelanStewart commented on #66
I've started getting this error now, however it only happens with I use devtool: 'source-map'. Using devtool: 'cheap-source-map', it doesn't occur.

However, I do wonder if it probably would also occur with `cheap-source-map` if we had enough code to compile.

[2020-02-13 14:06] evilebottnawi commented on #66
Try to use latest terser-webpack-plugin

[2020-02-13 15:05] CaelanStewart commented on #66
@evilebottnawi - Yep that's working now. Cheers.

[2020-02-17 14:00] CaelanStewart commented on #66
This is still happening with 2.3.4.

[2020-02-17 14:07] CaelanStewart commented on #66
Weirdly this only happens sometimes. Can't see what would change each time though.

Does the default node heap size depend on the current memory usage of the whole system?

I'm trying to avoid this with --max-old-space-size=4096

[2020-02-17 15:42] CaelanStewart commented on #66
I can confirm that increasing the memory limit makes the issue go away.

I think this only arises if you're compiling a lot of code.

[2020-02-18 14:03] evilebottnawi commented on #66
@CaelanStewart Can you create reproducible test repo?

[2020-02-18 14:07] jjgumucio commented on #66
This problem appeared after I added _plotli.js_ as a charting library.
Maybe it's related?

[2020-02-18 17:12] CaelanStewart commented on #66
@evilebottnawi Not without sharing a private codebase.

It seems to depend on some state variable.

I found this: https://medium.com/@nodejs/introducing-node-js-12-76c41a1b3f3f

So one could reason that the heisenbuggery here is due to dynamic heap sizes.

So, if you set a fixed heap size, and compile a codebase large enough, you'll probably consistently trigger it.

It's all I can suggest with my

[2020-03-05 03:47] lexcaraig commented on #66
Update your Node.js to 12 and then rebuild your node-sass for different environment

`npm rebuild node-sass`

this works with me.

[2020-04-09 17:57] litong01 commented on #66
with 12.16.2 same problem. increase the memory for the machine fixed the problem.

[2020-04-09 19:18] mateja176 commented on #66
Issue is present with node `13.6.0`

[2020-04-21 00:33] kheengz commented on #66
Increase the memory, in the terminal where you run your Node process:

`export NODE_OPTIONS="--max-old-space-size=8192"`

where values of max-old-space-size can be: [2048, 4096, 8192, 16384] etc

more suggestions here https://stackoverflow.com/questions/53230823/fatal-error-ineffective-mark-compacts-near-heap-limit-allocation-failed-javas

[2020-04-24 23:47] zhuohualuo commented on #66
我也遇到这个问题 怎么解决的?

[2020-04-24 23:48] zhuohualuo commented on #66
is ok now?

[2020-04-25 14:07] evilebottnawi commented on #66
Please update terser-webpack-plugin to latest version

[2020-05-05 16:35] avinashseth commented on #66
12.16.0 also

[2020-05-29 15:07] MSimone12 commented on #66
I solved this problem changing Node max heap size:

`
  export NODE_OPTIONS="--max-old-space-size=(2048|4096|8192)"
`

It must be between one of the options, according to the machine memory

[2020-06-05 15:01] manisha-11-dev commented on #66
am also getting the same error. Tried with --max-old-space-size=8192 which means we increase it to 8 gb. Now I get no error but the machine hangs and no output I get.

[2020-06-20 07:04] shamim-42 commented on #66
Problem solved replacing node 10 to node 12  (FROM node:12)

[2020-07-08 09:18] zhanyuzhang opened #82 "How to replace the RawSource's value ?"
I wtite a webpack plugin to compress image. For example  there is an img's rawSource instance:
[code]

After compressing the img  , I want to repalce the the origin img by new img:
[code]
but, it doesn't work.

I have to use fs.writeFile() to  make it work as follows:
[code]

Can any body tell me whether there is a better solution ?

[2020-07-08 10:38] evilebottnawi commented on #82
You should not replace content, just create new instance, example of compression plugin https://github.com/itgalaxy/imagemin-webpack/blob/master/src/ImageminPlugin.js

[2020-07-08 10:38] #82 closed

[2020-07-28 08:19] 781650249 commented on #66
not useful

[2020-08-13 14:05] baytelman commented on #66
I could compile with 256MB (NOT GB) so I can run on small containers!

[2020-08-19 06:43] dobromyslov commented on #66
Windows workaround:
[code]

[2020-09-18 11:59] evilebottnawi commented on #26
@EECOLOR sorry for big delay, I think it is expected, you need to use `RawSource(Buffer.from('test'), true)`

[2020-09-18 23:02] dlong500 commented on #55
@sokra It seems that this issue has reappeared, and when trying to track down the relevant code I'm finding that one of the two calls to `sourceContentFor()` in `applySourceMap.js` is no longer passing the second parameter that was added in 4c036a82673603932c9ede479073a89f6d217b79 to "avoid throwing when source is not in SourceMap".

The call to `sourceContentFor()` (on line 144 of the latest vers

[2020-09-19 14:06] evilebottnawi commented on #55
@dlong500 Can you open new issue with examples or link on broken code?

[2020-09-19 14:34] dlong500 commented on #55
@evilebottnawi I'm having difficulty coming up with a simple example as I'm not sure why the `sourceContentFor()` function is only sometimes called with a period for the source parameter.

The main reason I was posting here is that the fix introduced in response to this issue was partially reverted, and I believe that reversion was inadvertent.  I can't find any commit message mentioning a reason

[2020-09-19 14:40] evilebottnawi commented on #55
@dlong500 Please:
- open new issue and describe it, even you can create reproducible test repo
- can you provide error screenshots/video/small example of code?

[2020-09-19 17:16] chaffeqa commented on #55
I'm getting the same thing using terser-webpack-plugin v4.2.1, looks like:
[code]

i was NOT getting that error using v4.1.0, but that was running into issues with OOM due to caching or something like that... anyways I can reproduce this every time on our codebase... i can access the failing asset if that helps solve it:

[code]

[2020-09-19 18:27] chaffeqa commented on #55
@evilebottnawi i figured something out... by litterally commenting out code until it worked, i was able to narrow down what was causing that error to the following:

* Any `enum` declaration that gets compiled

Problem is: we are using babel-typescript, so I dont know what that transpiles down to exactly... im going to try to find the output source to see what it would look like.  But i guess this

[2020-09-19 18:31] chaffeqa commented on #55
[code]

[2020-09-19 18:50] chaffeqa commented on #55
I also now have a solution for our situation (dont know whose bug this is honestly)...

We need to transpile `enum`s a different way, so I did the following:

Installed and used: https://github.com/dosentmatter/babel-plugin-const-enum (the constObject approach since it will produce a `const obj = {}` instead of that iife)

[code]

[2020-09-19 19:20] chaffeqa commented on #55
uuugh ran into another instance that throws the same error:

[code]

and the error:
[code]

source:
[code]

So i figured out, if i removed the `async` it compiles.

[2020-09-19 19:22] chaffeqa commented on #55
both of these scenarios resulting in the same error leads me to believe that instead of it compiling wrong, I think maybe terser is eliminating dead code possibly (or what it thinks is dead)... which produces that ambiguous entry error?

[2020-09-21 06:46] EECOLOR commented on #26
@evilebottnawi The issue seems to have been fixed 11 months ago: https://github.com/webpack/webpack-sources/commit/4e1ea6d9be702d822078b0494b192ad06ecfbd11#diff-80d25e3b0eed8830fe06f2bad53a54b6R46

[2020-09-21 06:46] #26 closed

[2020-09-21 12:47] evilebottnawi commented on #55
@chaffeqa Please open a new issue

[2020-09-21 13:17] evilebottnawi commented on #55
Looks like you have broken source maps, maybe problem on babel side, anyway can you open new issue?

[2020-09-21 14:03] chaffeqa commented on #55
yep! would you like the new issue in this repo or somewhere on babel side? (I agree, i think maybe something with babel-typescript?)

[2020-09-21 14:07] evilebottnawi commented on #55
@chaffeqa let's open here, also please provide minimum reproducible case, and I investigate it

[2020-09-23 13:20] MarcelloPerathoner commented on #55
@sokra This was fixed in @1.4.1 but the fix only partially made it into @2.0.0.

Line 144 in lib/applySourceMap.js@2.0.0 should be:

```const sourceContent = sourceMapConsumer.sourceContentFor(source, true);```

[2020-09-23 13:25] evilebottnawi commented on #55
@MarcelloPerathoner Can you create reproducible test repo?

[2020-09-23 15:17] dlong500 opened #89 "UnhandledPromiseRejectionWarning: Error: "." is not in the SourceMap (reproducible)"
@evilebottnawi Ok, I've finally created a reproducible test repo (as requested in #55).  I forked HashemKhalifa/webpack-react-boilerplate and the ONLY things I changed were:
-  upgrading to webpack@5 RC
-  setting babel preset-env to use `targets: 'defaults'`

Here is the repo: https://github.com/dlong500/webpack-react-boilerplate/tree/source-map-diag
The changes are in the source-map-diag branch.

[2020-09-23 15:31] evilebottnawi commented on #89
Just note, please migrate from `optimize-css-assets-webpack-plugin`  to https://github.com/webpack-contrib/css-minimizer-webpack-plugin

[2020-09-23 15:35] evilebottnawi commented on #89
Someone generates a bad source map

[2020-09-24 11:00] rob-baker-ar commented on #89
If it's any help, this repo (from https://github.com/webpack/webpack/issues/11517) is a more minimal way of reproducing the bug:

https://github.com/rob-baker-ar/webpack-issue

[2020-09-27 19:25] chaffeqa commented on #89
oh wow thanks @rob-baker-ar ! i jsut created a reproducible version myself:

https://github.com/chaffeqa/webpack-5-sourcemaps-repro

[code]

[2020-09-27 21:26] privatenumber opened #90 "Error: "." is not in the SourceMap."
### Description
Getting the following build error: `Error: "." is not in the SourceMap`

Full error stack:
[code]

### Version
v2.0.0
(Potentially v1.4.0?)

### Related issues
https://github.com/webpack/webpack-sources/issues/55

### Reproduction
https://github.com/privatenumber/webpack-sources-bug-repro

- The bug seems to happen with `output.libraryTarget: 'umd'`. Works fine when removing that l

[2020-09-28 09:53] evilebottnawi commented on #90
Duplicate of https://github.com/webpack/webpack-sources/issues/89

[2020-09-28 09:53] #90 closed

[2020-09-28 15:42] #89 closed

[2020-10-15 14:03] vespakoen opened #92 "HookWebpackError: item.node is not a function"
I am setting up a new project with the latest and greatest of all tools, and ran into the following situation:

I am using:

`webpack@5.1.0`
`webpack-cli@next`
`wrapper-webpack-plugin@2.1.0`

webpack.config.js
[code]

`terser-webpack-plugin@5.0.0`

webpack.config.js
[code]

(Yarn 2 with `loose` mode enabled)

Now, when I debug the error (has to be on Node 13+, to make it work with Yarn 2's PnP, I

[2020-10-15 14:22] evilebottnawi commented on #92
Can you provide reproducible repo? Maybe API used in wrong way

[2020-10-15 14:23] vespakoen commented on #92
Sure thing, setting one up right now

[2020-10-15 14:40] vespakoen commented on #92
Looks like it might be coming from `wrapper-webpack-plugin` using deprecated API's?

https://github.com/levp/wrapper-webpack-plugin/issues/11

[2020-10-15 14:42] evilebottnawi commented on #92
Yes, https://github.com/levp/wrapper-webpack-plugin/blob/master/wrapper-webpack-plugin.js#L53, it can be `Buffer`/`String`

[2020-10-15 15:25] evilebottnawi commented on #92
Also here other issue - `webpack-sources@1` doesn't have compatibility with `webpack-sources@2` in some edge cases, but `terser-webpack-plugin@5` supports only `webpack@5` and `webpack-sources@2`

[2020-10-15 21:30] vespakoen commented on #92
This seems to be working, but not sure if I did it right, hope it might help to get this fixed:

[code]

[2020-10-16 11:22] evilebottnawi commented on #92
@vespakoen my recommendation to use `compiler.webpack.sources` for webpack@5 instead `require('webpack')`

[2020-10-18 15:53] blackrabbit99 opened #93 "webpack-sources' Source type is not assigneable to webpack5 source type"
Code sample
[code]

TS Compilation Error
[code]

webpack@5.1.3 Source type
[code]

@types/webpack-sources@2.0.0 Source type

[code]

[code]

Expectation from my side they should be corresponding to the same type as a part of single ecosystem

[2020-10-19 12:32] evilebottnawi commented on #93
Sorry, no, types are different between webpack@4 and webpack@5

[2020-10-19 13:53] blackrabbit99 commented on #93
From what I got @types/webpack-sources@2.0.0 uses types from webpack 4 so to use it with webpack 5 types should be updated ?

[2020-10-19 14:12] evilebottnawi commented on #93
My reccomendation - drop webpack@4 support and migrate on webpack@5 + use types from webpack@5 only

[2020-10-19 14:35] blackrabbit99 commented on #93
webpack-sources@2.0.0  written in js so to use it with webpack5 I need to be sure webpack-sources typings correspond to webpack5 types but now as I see it isn't

[2020-10-19 14:37] evilebottnawi commented on #93
@blackrabbit99 do not use `@types/webpack-sources@2.0.0`

[2020-10-20 19:35] blackrabbit99 commented on #93
@evilebottnawi maybe I got you wrong but I can not use `webpack-sources` w/o typings because there is no declaration file.
`webpack` consumes `webpack-sources` only in js part so everything work corrects.

But inside plugins written on TS webpack-sources could not be used safety because of types inconsistency.
Any plans about types synchronisation ?

[2020-10-21 08:07] blackrabbit99 commented on #93
`webpack` has self defined declaration for `webpack-sources` does it make sence to handle this typing on `webpack-source` package level so this types will become the source of truth for consumers of this library

Alternatives are following:
* trust to `@types/webpacks-sources`
* declare own typings for `webpacks-sources` on plugin level

Both of them are not safe enough as for me.

So this issue m

[2020-10-21 11:06] evilebottnawi commented on #93
@blackrabbit99 Why do you need `@types/webpacks-sources`? Don't use `webpack-source` directly, it is invalid

[2020-10-21 11:49] blackrabbit99 commented on #93
@evilebottnawi got you point. One of my plugins has dependency to `webpacks-sources` and uses `ReplaceSource` from it. Does it mean I can get access to `ReplaceSource` service directly from webpack ?

[2020-10-21 11:52] evilebottnawi commented on #93
Yes, it is right way, no need to ahve this in deps, also it allows to use keep compatibility better between webpack versions

[2020-10-24 19:19] LyceumTech commented on #66
console:

`export NODE_OPTIONS="--max-old-space-size=1024"
npm run build --clean
`
OS: ubuntu 18.04

[2020-11-03 07:39] xmsz commented on #92
Any update?

[2020-11-03 11:20] evilebottnawi commented on #92
No updates, answer was given, please use `compiler.webpack.sources` and do not use `webpack-sources` directly

[2020-11-03 11:20] #92 closed

[2020-11-05 08:48] yuzhidi opened #97 "why sourceAndMap columns: false is different with columns: true"
Hi,
I understand  'AAAA;;AAEA'
don't understand why `columns: true` mappings is "[AAAA;AACA;AACA;](https://github.com/webpack/webpack-sources/blob/master/test/OriginalSource.js#L26)".  The second line is no content
[code]

Could someone  help me ? Thx

[2020-11-05 11:24] evilebottnawi commented on #97
It is from `source-map` package https://github.com/webpack/webpack-sources/blob/master/lib/helpers.js#L34

[2020-11-05 11:24] #97 closed

[2020-11-07 02:54] yuzhidi opened #98 "[question] why ReplaceSource.map.sourcesContent not change"
Hi,
    ReplaceSource test case show `expect(resultText).toBe("Hi bye W0000rld!\n{\n Multi Line\n}\nLast Line");` [L49](https://github.com/webpack/webpack-sources/blob/9ec78f2ef3d9169293636c48b7741ebb7b457ac6/test/ReplaceSource.js#L49) result changed
but `resultMap.map.sourcesContent`，`resultListMap.map.sourcesContent` is also the `originalText`.
the print code `console.log("resultMap.map.sourcesC

[2020-11-07 11:40] evilebottnawi commented on #98
Because it should not change

[2020-11-07 11:40] #98 closed

[2020-12-03 11:27] yannvr commented on #66
Seems so. I was only able to reproduce with node 0.10x on OSX and Linux but works on Windows

[2021-02-09 09:08] Kilims opened #101 "TypeError: value.split is not a function"
I am going to setup my own scaffold，and here is the project repo

[https://github.com/Kilims/typescript_antd_antdMobile](https://github.com/Kilims/typescript_antd_antdMobile)

while running with `yarn run start`, it could work perfectly

but when i go with `yarn run build`, it shows errors below

[code]

could kindly help with that ? tons of thanks

[2021-02-09 10:32] alexander-akait commented on #101
Please open an issue in `optimize-css-assets-webpack-plugin` repo, we strongly recommend to switch on official plugin https://github.com/webpack-contrib/css-minimizer-webpack-plugin, we can't fix here bug inside the plugin, sorry

[2021-02-09 10:32] #101 closed

[2021-02-25 09:19] liby commented on #66
Have this problem on node 14.15.5
Webpack V5.

[2021-02-25 11:26] alexander-akait commented on #66
@liby Please create reproducible test repo

[2021-02-25 11:43] liby commented on #66
@alexander-akait
The cause has not been found yet, and it cannot be reproduced stably for the time being.`export NODE_OPTIONS="--max-old-space-size= 8192` has been set and will continue to follow up with feedback.

[2021-03-07 21:48] dryhurst opened #103 "ConcatSource.js:42 failing with Cannot read property 'source' of undefined"
I'm not sure how to report this since I don't know if this is a bug or just that I am not understanding how to use webpack 5

I am trying to follow the nextjs webpack5 module-federation example here: https://github.com/module-federation/module-federation-examples/tree/master/nextjs

I am incorporating this into my own project, so i am using just the next.config.js file from that example and some t

[2021-03-09 12:23] alexander-akait commented on #103
Can you provide how we can reproduce it?

[2021-03-17 08:20] monic-shixi commented on #66
- nodejs@12.13.1
- webpack@5

That happened in dev rebuild（after change files）.(webpack4 is work, upgrade to webpack5 with this error)

[2021-03-17 12:07] alexander-akait commented on #66
@monic-shixi we are fixed memory leak in the latest webpack verison, please update

[2021-03-17 12:34] monic-shixi commented on #66
Great.

[2021-03-17 13:11] liby commented on #66
@alexander-akait

So, can I ask how you reproduced this bug, please?

[2021-03-17 13:14] alexander-akait commented on #66
I don't understand you

[2021-03-17 13:18] liby commented on #66
None of the above replies provides a “reproducible test repo”, so how did you finally find the bug and fix it?

[2021-03-17 13:26] alexander-akait commented on #66
We got report issue in webpack repo

[2021-03-17 22:13] drphelps commented on #103
This is the result of a misconfigured/incompatible plugin. There's a fork [here](https://github.com/noreiller/nextjs-mf/tree/fix-merge-runtime) that more or less fixes the issue.

[2021-03-18 11:53] daychongyang commented on #66
@alexander-akait
Is this problem fixed in `webpack@5.26.3`?

When I use the latest version, memory leaks still occur, causing the process to exit abnormally.

### Environmental information

[code]

[code]

### Error Info
[code]

[2021-03-18 12:05] alexander-akait commented on #66
Leak in custom plugin

[2021-03-18 12:13] daychongyang commented on #66
Do you mean the problem with my own code? Can you teach me how to identify it?🙋

[2021-03-18 12:19] alexander-akait commented on #66
Experience :smile: Anyway if you provide reproducible example, I will look at this

[2021-03-18 12:31] daychongyang commented on #66
🤤

[2021-03-19 08:20] liby commented on #66
@alexander-akait

I also ran into this problem with Webpack@5.26.2.

<details>
<summary>Environmental information</summary>

[code]

[code]
</details>

<details>
<summary>Error Info</summary>

[code]
</details>

[2021-03-19 11:54] alexander-akait commented on #66
You still on `@storybook/core#webpack@4.44.2`, there are a lot of bugs/memory problems, you need consider migration to v5...

[2021-03-19 11:57] liby commented on #66
@alexander-akait
I did not start the storybook service, I'm pretty sure it has nothing to do with the storybook.

[2021-03-19 11:59] alexander-akait commented on #66
@liby Can you run `npm ls webpack`?

[2021-03-19 12:02] liby commented on #66
@alexander-akait
[code]

[2021-03-19 12:11] alexander-akait commented on #66
Yep, you still on webpack v4, but we have v5 with a lot of fixes, also `storybook` supports webpack v5 https://storybook.js.org/blog/storybook-for-webpack-5/

[2021-03-19 12:32] liby commented on #66
There are several issues:
1. We did not encounter this error in our project with webpack@4
2. the results of `npm ls` are inaccurate, as follows：
[code]
3. The project we started must have been build with webpack@5, if it was build with storybook's webpack@4, then it's not compatible in terms of configuration.

[2021-03-19 12:34] alexander-akait commented on #66
I don't understand you

[2021-03-19 12:36] liby commented on #66
@alexander-akait
Not related to storybook. The `npm ls` command has a problem with the output, we clearly have `react` installed, but it outputs `empty`.

[2021-03-19 12:38] alexander-akait commented on #66
Okay, run `yarn why webpack`

[2021-03-19 12:44] liby commented on #66
@alexander-akait
It's exactly the same as the one offered for the first time.
[code]

[2021-03-19 12:46] alexander-akait commented on #66
As you can see you still on `webpack` v4, the error happens on v5? Please provide some more information

[2021-03-19 12:55] liby commented on #66
@alexander-akait
As you can see, `webpack@4` is what storybook does when using.

More information:

info Has been hoisted to "webpack"
info This module exists because it's specified in "devDependencies".
info Disk size without dependencies: "11.18MB"
info Disk size with unique dependencies: "18.85MB"
info Disk size with transitive dependencies: "33.36MB"
info Number of shared dependencies: 76

Sho

[2021-03-19 12:58] alexander-akait commented on #66
Good questions, we need to look at logic in `storybook` here, hard to say

[2021-03-19 13:03] liby commented on #66
@alexander-akait
There's no point in speculating, so I'll remove Storybook from the project and keep an eye on it to see if the issue comes up again. This is the best solution I can think of.
Thank you for discussing with me for so long, have a great day!

[2021-03-19 13:20] alexander-akait commented on #66
Feel free to feedback

[2021-04-27 19:08] bugknightyyp opened #105 "res.code is generated code and not Source.prototype.source()"
https://github.com/webpack/webpack-sources/blob/9ec78f2ef3d9169293636c48b7741ebb7b457ac6/lib/helpers.js#L23

Documents write:
[code]

Can you explain it ?  thx

[2021-05-11 10:36] #105 closed

[2021-07-12 08:32] AnubhutiRoX opened #113 "Content and Map of this Source is not available (only size() is supported) webpack5"
![Issue](https://user-images.githubusercontent.com/18062708/125255758-6437d400-e319-11eb-9b8e-73c3d2e7ef0f.PNG)
After upgrading webpack from 4 to 5 and webpack-sources - 2.3.0, I am facing this issue.

Found one similar issue - https://github.com/GoogleChromeLabs/size-plugin/issues/40 but mine is coming from write-file-webpack-plugin, version 4.5.1

[2021-07-12 09:24] alexander-akait commented on #113
Bug in https://github.com/GoogleChromeLabs/size-plugin/issues/40, please wait the fix

[2021-07-12 09:24] #113 closed

[2021-07-18 01:33] noppa commented on #34
I just noticed 7rulnik/source-map-sync/pull/1 ([source-map-sync on npm](https://www.npmjs.com/package/source-map-sync)), which modifies source-map 0.8 to expose a synchronous API, by initializing the wasm module with `new WebAssembly.Module(buffer)` instead of `WebAssembly.instantiate`.

The downside of this approach is that it won't work in browsers, since they apparently have a 4kb size limit fo

[2021-07-18 08:32] 7rulnik commented on #34
Yep, but I prefer source-map-js

[2021-07-27 08:49] sokra commented on #34
Major version 3 of webpack-sources is now super fast, and dependency-free. (not yet fully bug-free, but I'm working on that).

[2021-07-27 08:49] #34 closed

[2021-07-28 09:37] Superoryco opened #122 "TypeError: Cannot read property 'length' of null"
Somehow the 'checkOriginalContent' function in [ReplaceSource.js](https://github.com/webpack/webpack-sources/blob/5024ff8d42c97b24a32f60b4d0cffa2b5c3a49dd/lib/ReplaceSource.js#L159) failed due to null value from sourceContents[sourceIndex], need a fix maybe.

[2021-07-28 09:38] Superoryco commented on #122
#121

[2021-07-28 20:15] modestfake commented on #122
First I got the the error in `ReplaceSource.js`. I applied the same fix as in the PR #121, it helped but then I also get similar error but in a different place
![image](https://user-images.githubusercontent.com/16977959/127389376-1a280215-c72e-4c4f-ab3c-b153cee9a832.png)

Seems like it's the same stack trace as in https://github.com/webpack/webpack/issues/13879

[2021-07-29 04:26] Superoryco commented on #122
@modestfake I've not seen this problem yet in my project, try [this](https://github.com/webpack/webpack-sources/pull/121/commits/2138fd4d1f586a963ad85d6ba5d905f6d4c2fb68) maybe?

[2021-07-29 07:05] modestfake commented on #122
@Superoryco yes, this worked! Thanks for the fix! Hopefully it will be released soon.

[2021-07-29 13:18] Superoryco commented on #122
@sokra Report: Exception still exists in 3.0.4, but from a different place:
[at checkOriginalContent (.../node_modules/webpack-sources/lib/ReplaceSource.js:169:40)](https://github.com/webpack/webpack-sources/blob/d103b21f883de762132cb665d8444904185ebae3/lib/ReplaceSource.js#L169)

[2021-07-29 18:00] Superoryco commented on #122
Fixed by [d103b21](https://github.com/webpack/webpack-sources/commit/d103b21f883de762132cb665d8444904185ebae3), if still happened, delete node_modules folder and .lock file, then a fresh install.

[2021-07-29 18:00] #122 closed

[2021-08-02 09:55] #103 closed

[2021-08-02 09:55] sokra commented on #2
fixed

[2021-08-02 09:55] #2 closed

[2021-08-02 09:56] sokra commented on #7
https://webpack.github.io/benchmark/

[2021-08-02 09:56] #7 closed

[2021-08-02 09:56] sokra commented on #35
done

[2021-08-02 09:56] #35 closed

[2021-08-11 23:41] WolfspiritM opened #131 ""Maximum call stack size exceeded" in streamChunks*"
Using storybook with webpack5 we recently ended up getting "Maximum call stack size exceeded" when we try to build the storybook project.

[code]

It seems to be caused by the regex used for the match. I have seen it in two different spots. The other one was:

[code]

At first I thought it might be cause of a big chunk and source file but I tried to output "source" prior to the "source.match" and

[2021-08-12 10:58] alexander-akait commented on #131
Can you provide example how we can reproduce it?

[2021-08-13 23:55] WolfspiritM commented on #131
I sadly can't produce a good example cause the source I'm using is private and it seems like the reason for that is really the size.

I tried to investigate further and it seems like the reason really is a too large "source".

I have a source that is has a length of 11846003 characters which causes that issue. As these streamChunk functions seem to be called asynchronously I just ended up having t

[2021-08-15 17:09] alexander-akait commented on #131
How often does this happen? Do you build application in dev or production mode? Do you use webpack dev server when got this problem? Do you generate source maps? What is value of `devtool`?

[2021-08-15 18:48] WolfspiritM commented on #131
About 9 out of 10 times. Very often. With 5.46.0 it never happened.

It happens when building the storybook static version. According to their docs it's building production mode.

No. Actually using storybook watch mode works fine.

Value of devtool is `cheap-module-source-map` (which seems to be the storybook default).
When setting devtool to undefined before the build the build succeeds all the

[2021-08-15 19:07] alexander-akait commented on #131
Maybe you are right, can you try to debug values passed to `at String.match`?

[2021-08-15 19:07] alexander-akait commented on #131
I am afraid it can be ddos regexp...

[2021-08-15 19:45] WolfspiritM commented on #131
The regexp passed is the one from here:
https://github.com/webpack/webpack-sources/blob/10d5dae6a3c907b93f80c1a51d450f55214b09f4/lib/helpers/streamChunksOfRawSource.js#L10

while the source string where the match is applied to is the 11846003 long string.
It starts with:
```const __WEBPACK_NAMESPACE_OBJECT__ = JSON.parse('```

And seems to be a very huge json with properties like name, type, descr

[2021-08-15 19:50] alexander-akait commented on #131
I think this... We need rewrite this, but it can be very easy

[2021-08-18 12:45] daix6 opened #132 "applySourceMap for webpack 4 is super slow"
https://github.com/webpack/webpack-sources/blob/d9117497dfbac940c02aa97a6fe48af633154edc/lib/applySourceMap.js#L70-L74

Webpack 4 is still using the 1.4.1 version of webpack-sources, in which version these lines are super slow, especially for those files whose lines are very long.

I came across this problem when my webpack 4 trying to load exceljs (which actually loads exceljs.min.js, an already

[2021-08-18 12:50] alexander-akait commented on #132
Please update to webpack v5, we improve speed and reduce memory usage very well

[2021-08-18 13:10] daix6 commented on #132
Okay......

I have tried building with webpack 5 and it does be faster. But for some reason, I have to use webpack 4 for my project :sweat:

It seems like that I can't fix old version's problem with pull request. So let it be for now...

[2021-08-20 07:24] rudivanbiljon commented on #131
We're having the same issue in our Angular 12 project after updating our packages. I initially thought it had to do with SASS as picked up in other threads (https://stackoverflow.com/questions/68756057/maximum-call-stack-size-exceeded-in-streamchunksofsourcemap-js), however, this makes more sense.

This happened in multiple branches when updating different packages, so it makes sense that our proj

[2021-08-20 10:44] alexander-akait commented on #131
No short-term workaround, we need to fix it here

[2021-08-20 11:09] rudivanbiljon commented on #131
Downgrading Angular to 12.0.5 worked for me. Why would this resolve the issue though?

[2021-08-20 11:15] alexander-akait commented on #131
Maybe you can provide steps to reproduce? We really need to investigate it

[2021-08-30 11:37] alexander-akait commented on #131
Maybe you can also provide stack trace? Based on

something wrong with source maps and caches

[2021-08-30 11:45] Bjeaurn commented on #131
Absolutely!

[code]

[2021-08-30 23:07] ziggi commented on #131
Same with webpack 5.51.1
[code]

[2021-08-31 10:24] alexander-akait commented on #131
Also can you provide `npm ls webpack-sources`

[2021-08-31 10:26] Bjeaurn commented on #131
Absolutely!

[code]

Hope this aligns nicely. Already noticed that there's two or three versions being used in different parts. Think I saw a very recent commit on Angular's repo maybe updating that.

[2021-08-31 10:29] alexander-akait commented on #131
`webpack@4.42.0` and `webpack@5.50.0`, you have mixed webpack versions, I think problem in this

[2021-08-31 10:30] alexander-akait commented on #131
Manybe some package uses `require('webpack-source')` for webpack v4 (now you should get it using `compiler.webpack.sources`), but due package manager hoist logic on the top `webpack-sources@3.2.0`, so API is broken

[2021-08-31 10:31] Bjeaurn commented on #131
Hmm that seems to be an issue with @nrwl/nest then, which I don't think we need. I could see if I can get rid of that and what that does to the `npm ls`.

You mean API broken as in the libraries that have Webpack as a devDependency?

[2021-08-31 10:32] alexander-akait commented on #131
Yes

[2021-08-31 10:33] Bjeaurn commented on #131
The `webpack-sources@3.2.0` is the expected one to be working correctly with Webpack 5?

[2021-08-31 10:34] Bjeaurn commented on #131
After removing `@nrwl/nest` and trying to do another run; it breaks in exactly the same way.

[code]

[2021-08-31 10:39] alexander-akait commented on #131
Yes, let's try to remove it to, just for test

[2021-08-31 10:40] alexander-akait commented on #131
Or try to update https://github.com/waysact/webpack-subresource-integrity/blob/main/webpack-subresource-integrity/package.json#L3

[2021-08-31 10:44] Bjeaurn commented on #131
Yeah the problem here might be that both `webpack-subresource-integrity` and `license-webpack-plugin` depend on an older version, so they just may need to be updated. This already might've been done in the Angular repo, so I'll check that commit (and link it here).

[2021-08-31 10:48] Bjeaurn commented on #131
https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/package.json

Seems to have been updated already:

[code]

Now I'm not sure if `2.3.21` for license will bring `5.0.0` support, or if it matters. But we might be getting to a more aligned setup already so we can spot for actual bugs.

[2021-08-31 10:55] Bjeaurn commented on #131
Confirmed that `license-webpack-plugin` has not been updated to use the newer `webpack-sources` library yet. I'm not sure if this will be the cause of any breaks.

[2021-08-31 11:01] alexander-akait commented on #131
Can you try to disable this plugin and run webpack again?

[2021-08-31 12:22] Bjeaurn commented on #131
I'm afraid that's quite deep into Angular's inner workings and I don't know how to disable it.

I'll take a look for debugging purposes and see what I can find. But if the issue now points that there's a mismatch between the versions used from deeper dependencies within Angular, that feels like a more suitable spot to make an issue and provide the info we have brought up.

[2021-08-31 12:24] alexander-akait commented on #131
/cc @alan-agius4 maybe you can help here

[2021-08-31 12:25] Bjeaurn commented on #131
Oh that could also work, I was just about to write a post on an open issue with the same error message and point to this issue there.

[2021-08-31 12:28] alan-agius4 commented on #131
To disable the `license-webpack-plugin` you can run `ng build` with the `--no-extract-licenses` argument.

[2021-08-31 12:30] alan-agius4 commented on #131
Tip: if you think that this is caused by an outdated plugin, you can use yarn resolutions to confirm if it was fixed in a newer version.

https://classic.yarnpkg.com/en/docs/selective-version-resolutions/

[2021-08-31 12:32] Bjeaurn commented on #131
No luck unfortunately @alexander-akait.

[code]

[2021-08-31 12:34] alexander-akait commented on #131
@Bjeaurn maybe you can try it from main/master, or update it locally (inside `node_modules`) and try again?

[2021-08-31 12:36] alan-agius4 commented on #131
`webpack-subresource-integrity` is only used when SRI is enabled, is it the case for your project?

Can you try to disable both `webpack-subresource-integrity` and `license-webpack-plugin`?

[code]

[2021-08-31 12:37] Bjeaurn commented on #131
@alexander-akait I can try that after, or try Angular CLI's master locally (probably tomorrow).

@alan-agius4 Awesome, I wasn't aware of any of these flags. I'll give that a shot right now just to see if there's any changes. I'm not sure if SRI is on by default, or if we even need it to be honest.

[2021-08-31 12:43] alan-agius4 commented on #131
So it doesn't appear to be related to `webpack-subresource-integrity` and `license-webpack-plugin`.

[2021-08-31 12:49] Bjeaurn commented on #131
Fun fact tho, when I run it without `--configuration production` it seems to work. Although it spits out a bunch of warnings because of the `--verbose` flag and a message like this:

[code]

(Of which there may be more, haven't crawled through it all), so it might be to do with one of the production flags.

[2021-09-01 13:54] Bjeaurn commented on #131
Ok so I played around with the "production" configuration, which breaks; but the regular configuration that does not break.

The difference seem to stem from `"optimization": true`, which I could try to further dissect by making that more explicit in accordance with https://angular.io/guide/workspace-config#optimization-configuration, which I might try.

If I understand correctly, this part is als

[2021-09-07 12:31] ihor-panasiuk95 commented on #131
Also reproduces for me. And also for storybook. Described it here: https://github.com/storybookjs/storybook/issues/15957

[2021-09-07 12:37] alexander-akait commented on #131
@ihor-panasiuk95 run `npm ls webpack`

[2021-09-07 12:59] ihor-panasiuk95 commented on #131
@alexander-akait
![image](https://user-images.githubusercontent.com/69238797/132348820-b4af53c4-0bb5-4e0a-bd88-830c61157373.png)

[2021-09-07 13:00] alexander-akait commented on #131
You have mixed `webpack` version...

[2021-09-09 21:20] dsm0880 commented on #131
@alexander-akait @Bjeaurn I'm receiving the same issue. Below is my stack trace and npm ls webpack. I'm running Angular 12.2.5.

`node --trace-warnings ./node_modules/@angular/cli/bin/ng serve

⠧ Generating browser application bundles (phase: sealing)...(node:14108) UnhandledPromiseRejectionWarning: RangeError: Maximum call stack size exceeded
    at String.match (<anonymous>)
    at checkOriginal

[2021-09-10 07:40] alan-agius4 commented on #131
I recommand that a minimal reproduction is provided, as otherwise it would be hard to determine the root cause of the problem.

While I cannot talk on behalf @alexander-akait, I doubt that this can be addressed without a reproduction and a good understanding to what is causing this issue.

[2021-09-10 10:42] alexander-akait commented on #131
Yes, will be great if somebody provide variables (using debug utils) from https://github.com/webpack/webpack-sources/blob/main/lib/ReplaceSource.js#L145 before error was trowed (maybe log them in file) and provide them here

[2021-09-10 11:08] Bjeaurn commented on #131
I could probably get that sorted, stand by!

[2021-09-10 11:16] alexander-akait commented on #131
Also you can invite me in project (if need I can sing NDA) and will investigate this, so you don't need publish project for public

[2021-09-10 11:56] Bjeaurn commented on #131
I messaged you privately about that. In the meanwhile, I think I found a thing!

So I added a bunch of logs to give me an idea what's going on and where it's breaking. I made screenshots for your enjoyment.

I ran into a very long file that had it's sourceMapping inlined, which is where it seemed to break at. This file is an external plugin called `survey-angular` which seems to consume `SurveyJS`

[2021-09-10 12:00] alexander-akait commented on #131
Good catch, we need to look at this deeply, I think we found a place with the problem, pinned, will finish one job and return to this (today, in near future)

[2021-09-10 12:01] Bjeaurn commented on #131
I'm ecstatic. If you need any additional information or logging. Feel free to ask!

[2021-09-10 12:45] alexander-akait commented on #131
@Bjeaurn What is `Node.js` version?

[2021-09-10 13:08] Bjeaurn commented on #131
`v12.20.1`

Running the same procedure now with `v14.17.0`.

[2021-09-10 14:20] alexander-akait commented on #131
I have good news, reproduced locally:
[code]

Will try to do minimum reproducible test repo in near future, also found another bug :smile:

[2021-09-10 15:07] Bjeaurn commented on #131
You absolute legend! If I can help you let me know right? Happy to test out things. Looking forward to the reproduction.

[2021-09-10 15:15] alexander-akait commented on #131
I am reproduce the problem modification source code, but I can't reproduce it without modification, we have checks to protect this behavior...

[2021-09-10 15:40] Bjeaurn commented on #131
The problem is with the maximum call stack size, is there a check against that?

[2021-09-10 15:49] alexander-akait commented on #131
hm, let's try another thing - https://github.com/webpack/webpack-sources/blob/main/lib/helpers/streamChunksOfRawSource.js#L14, can you provide `source` value before throwing (and upload file here)?

[2021-09-10 15:52] Bjeaurn commented on #131
On it! Which version do you want me to try this with? Node 14 and Webpack-sources 3.2.0 or 1.4.*?

[2021-09-10 15:53] alexander-akait commented on #131
Any Node.js version and `3.2.0`

[2021-09-10 16:10] Bjeaurn commented on #131
It is the same as in the previous screenshots; just the file, no additional values. The inline sourceMap is in there and breaks the call stack maximum.

[2021-09-10 16:13] alexander-akait commented on #131
Yes, but I need content of this file, I think something wrong inside, we have `/(?:[^\n]+\n?|\n)/g` regexp, and something bad with `newlines` in file I think, small example:
[code]

[2021-09-10 16:20] Bjeaurn commented on #131
[survey-angular.txt](https://github.com/webpack/webpack-sources/files/7145113/survey-angular.txt)

It's basically the whole file that you'd get if you `npm i survey-angular` and look at the main `.js` file in there for reference. This is the exact copied version from the logging tho.

[2021-09-10 16:29] alexander-akait commented on #131
Weird, very, tried different cases but no luck to reproduce :disappointed:

[2021-09-10 16:31] Bjeaurn commented on #131
I think the problem is a combination of a big file like this, in combination with a very large repository.

The streamChunks will probably keep adding to the `Maximum call stack size` problem as it is recursive. Maybe if you run the same file 10 times in a row in the same build or something? Just an idea.

[2021-09-10 16:54] alexander-akait commented on #131
Tried, no luck...

[2021-09-10 17:30] alexander-akait commented on #131
@Bjeaurn Are you sure provided file it the same as here https://github.com/webpack/webpack-sources/blob/main/lib/helpers/streamChunksOfRawSource.js#L14 before you got error (i.e. trow)

[2021-09-10 17:56] Bjeaurn commented on #131
That's exactly what I did haha.

<img width="623" alt="Screenshot 2021-09-10 at 19 55 56" src="https://user-images.githubusercontent.com/1345395/132896915-ae84f014-02ab-4500-a1ab-93d76dd68ae8.png">

I'm happy to run it again if you need, but I'm afraid that's all I got...

[2021-09-10 18:00] alexander-akait commented on #131
@Bjeaurn Can you try to use `--stack-trace-limit 20` or even more? I still think something wrong in env...

[2021-09-10 18:00] Bjeaurn commented on #131
Sure thing. Running with that, I got a private logs file available for you. Let me do that as well.

[2021-09-13 13:57] Bjeaurn commented on #131
@alexander-akait and myself have spend a few hours debugging over the weekend. I recall that he had a local reproduction now but also spotted an additional issue that may be related to this.

I'm not exactly sure on the status and if he has enough to think about a fix.

I'll stay available if additional testing, logging or new versions are to be tested. You know where to find me!

[2021-09-13 13:59] alexander-akait commented on #131
@Bjeaurn Yep, we still investigate this, I am busy on today/tomorrow and then return to this again

[2021-09-13 15:22] sokra commented on #131
Could you try if https://github.com/webpack/webpack-sources/releases/tag/v3.2.1 fixes the problem.
It avoids using RegExp for splitting into lines.

[2021-09-13 15:28] Bjeaurn commented on #131
I'll give it a try, although it might be a tad tricky to get the dependencies right as they're "implicit" through other projects. But I'll find a way. Will report back.

[2021-09-13 15:47] Bjeaurn commented on #131
Update: 2nd pass with caching completely removed also passed. Look like this is a solid fix of the weird edge cases we were running into.

[2021-09-13 15:50] alexander-akait commented on #131
Great! I think we can close it, if somebody faced with this again, please open an issue, hope we fixed all edge cases, feel free to feedback

[2021-09-13 15:52] alexander-akait commented on #132
old versions of `webpack-sources` accept only security fixed, there are outdated, so there is only one solution - update to webpack v5, also in the latest version we very improve speed and memory usage, so please strongly consider migration, sorry, anyway feel free to feedback

[2021-09-13 15:52] #132 closed

[2021-09-13 16:55] dsm0880 commented on #131
@alexander-akait Currently webpack has a dependency on webpack-sources as follows:  "webpack-sources": "^3.2.0"

Does this mean removing my package.lock.json and re-installing webpack should install the latest webpack-sources given you have published a new release of webpack-sources? Just want to make sure I understand and can test appropriately.

[2021-09-13 16:59] alexander-akait commented on #131
Yes, anyway you have `npm update` (should update all deps)

[2021-09-13 17:19] dsm0880 commented on #131
@alexander-akait @Bjeaurn It worked! Thank you both!

[2021-09-22 09:52] Edge00 opened #139 "How to use this library to generate source map to a loader. Is there any guide or example?"
I wrote a loader to change original code. And i need to show original code when there is a error or warning.
But i don't know how to achieve this by using this library.
Is there any guide or example?

[2021-09-22 09:56] alexander-akait commented on #139
Please ask this in stackoverflow. Out of scope webpack, sorry

[2021-09-22 09:56] #139 closed

[2021-11-08 07:39] lastnigtic commented on #131
May I ask in what situations there will be problems when using `RegExp` for splitting into lines？

[2021-11-11 16:43] gardengeek99 commented on #131
I am still getting this using webpack-source 3.2.1.  Only solution is to backup.

[2021-11-11 16:44] alexander-akait commented on #131
It means you still on old verison, run `npm ls webpack-sources`

[2021-11-11 16:56] gardengeek99 commented on #131
# npm ls webpack-sources
apollo-studio@0.0.1 C:\apollo-studio\apollo-studio
+-- webpack-sources@3.2.1
`-- webpack@5.64.0
  `-- webpack-sources@3.2.1 deduped

[2021-11-11 16:58] alexander-akait commented on #131
We need reproducible test repo...

[2021-11-11 17:02] gardengeek99 commented on #131
That might take awhile.  Stack trace might be helpful though.
[code]

[2021-11-11 17:04] alexander-akait commented on #131
Can you show `this._value` here https://github.com/webpack/webpack-sources/blob/main/lib/OriginalSource.js#L64

[2021-11-11 21:14] gardengeek99 commented on #131
[this._value.txt](https://github.com/webpack/webpack-sources/files/7523307/this._value.txt)

[2021-11-12 09:44] alexander-akait commented on #131
@gardengeek99 Can you try to disable source map and check again?

[2021-11-12 13:51] gardengeek99 commented on #131
It is already disabled in production builds (where the issue shows up). We set it to undefined, but explicitly setting it to false doesn't work either.

[2021-11-12 13:54] alexander-akait commented on #131
@gardengeek99 so problems existing without source maps too?

[2021-11-12 15:11] thre3eye commented on #131
I am facing the same issue. I can run a build with sourceMap=false but get above failure stack trace with sourceMap=true.
(I guess there isn't any workaround to be able to debug without sourceMaps?)

`-- @angular-devkit/build-angular@13.0.2
  `-- webpack@5.60.0
    `-- webpack-sources@3.2.1

[2021-11-12 15:18] alexander-akait commented on #131
Interesting, it happens only with `angular`, I still think something wrong on their side, but I need reproducible example to investigate it, hard to debug without it...

[2021-11-12 15:26] thre3eye commented on #131
Yes, I understand and it sucks, but unfortunately this is a large complex project and I am not authorized to share. I'll try to find a place to file the issue with angular if that hasn't been done yet. Also:

`-- @angular-devkit/build-angular@13.0.2
  +-- @angular-devkit/build-webpack@0.1300.2
  | `-- webpack@5.60.0 deduped
  +-- @ngtools/webpack@13.0.2
  | `-- webpack@5.60.0 deduped
  +-- babel-l

[2021-11-12 15:28] alexander-akait commented on #131
@thre3eye Also you can try to debug it here https://github.com/webpack/webpack-sources/blob/main/lib/OriginalSource.js#L64, any information welcome (maybe problem with regexp?)

[2021-11-12 16:05] gardengeek99 commented on #131
Correct.  A little more experimentation and it works with certain source maps.  'eval-source-map' works, 'source-map' does not.

[2021-11-12 16:10] alexander-akait commented on #131
I think here interesting case - you have a lot of `source` wrapper, i.e. `new PrefixSource({ prefix: '', source: new RawSource() });` (just example, you can have other values) + RegExp with grouping (inside V8 you increase stack), together them create `Maximum call stack size exceeded`. Let's try to debug: can you try to disable minimizer?

[2021-11-12 16:34] thre3eye commented on #131
Trying some debugging (let me know if you have a specific idea). Looks like it crashes after streamChunks is called ~200 times (for some reason this isn't constant) during the 'sealing'. The _value length on crash is 13377497 chars...

The full stack is:

C:\Dev\workspace\myapp\myapp-web-13\node_modules\webpack-sources\lib\OriginalSource.js:95
                                console.error(`streamC

[2021-11-12 17:45] alexander-akait commented on #131
`Looks like it crashes after streamChunks is called 190 times`, that is very many, can you say how many source do you have (i.e. `CachedSource`/`ConcatSource` /etc)

[2021-11-12 18:03] thre3eye commented on #131
Sorry, I am not very familiar with this stuff. Where would I be looking?
There's a folder .\.angular\cache\angular-webpack that contains a couple of directories..?

Meanwhile I did a dirty hack, am able to finish compilation and am able to debug TypeScript code within Chrome debugger (i.e. set breakpoints) by bypassing the 'column' stuff when the large file hits it. It then processes all 340 strea

[2021-11-13 04:04] wulinsheng123 opened #141 "Source.Replace can't replace all"
code
[code]

i want to replace "source" through babel，
but I only use the replace to replace all will report an error.
I feel that this should be Sourcemap.

[2021-11-13 11:45] alexander-akait commented on #141
What is the error?

[2021-11-13 11:45] alexander-akait commented on #141
You don't use `webpack-sources` in your code

[2021-11-13 12:06] wulinsheng123 commented on #141
**this my. all of code**

[code]

**this is error in my vscode**

in ./src/components/HelloWorld.vue?vue&type=style&index=0&id=3aaa4256&scoped=true&lang=css&

Syntax Error: /Users/wuls/Desktop/serverless/hello-world/node_modules/.pnpm/css-loader@3.6.0_webpack@4.46.0/node_modules/css-loader/dist/cjs.js??ref--7-oneOf-1-1!/Users/wuls/Desktop/serverless/hello-world/node_modules/.pnpm/vue-loader@15.9.8

[2021-11-13 12:06] wulinsheng123 commented on #141
I want  replace all of source code through babel

[2021-11-13 12:12] alexander-akait commented on #141
If you need replace code through babel you can use https://github.com/jean-smaug/babel-plugin-search-and-replace#readme

[2021-11-13 12:36] wulinsheng123 commented on #141
so sad because it's work in vue-cli.
babel can't catch template in vue

[2021-11-13 12:36] wulinsheng123 commented on #141
so sad because it's work in vue-cli.
babel can't catch template in vue

[2021-11-13 12:42] alexander-akait commented on #131
@thre3eye sounds like you found a bug...

[2021-11-13 12:44] alexander-akait commented on #141
@wulinsheng123 I think in this case better to ask `vue-cli` developers, I think you need babel vue parser or something similar to do it, anyway why do you need this? Maybe I can provide other solutions to sovle the problem

[2021-11-13 12:53] wulinsheng123 commented on #141
my company had two UI framwork (elementUI and Iview).
i want to merge there framework.
my idea is to get render function . then modify and replace it through babel.
initially I tried using babel,but babel can't catch that render function

[2021-11-13 12:55] wulinsheng123 commented on #141
i tried these methods https://stackoverflow.com/questions/35092183/webpack-plugin-how-can-i-modify-and-re-parse-a-module-after-compilation

none of these methods can be used

[2021-11-13 13:02] alexander-akait commented on #141
What do you need replace?

[2021-11-13 13:03] alexander-akait commented on #141
If you provide small example with code (no need provide whole project, just proof of concept) I will show how to do it

[2021-11-13 13:04] wulinsheng123 commented on #141
I need to convert the attributes, labels, and events of the element ui into iview

ok no problem

[2021-11-13 13:05] wulinsheng123 commented on #141
thank you very much

[2021-11-13 13:29] wulinsheng123 commented on #141
https://github.com/wulinsheng123/vue here you are

[2021-11-13 13:33] wulinsheng123 commented on #141
i want change `<el-button>默认按钮</el-button>` in App.vue,
but because it's vue file,so babel can't catch.

[2021-11-14 10:48] wulinsheng123 commented on #141
hi guy, excuse

[2021-11-15 09:42] alexander-akait commented on #141
Sorry, this problem is real out of scope webpack, better ask vue cli developers how to achieve it

[2021-11-15 11:27] wulinsheng123 commented on #141
would i ask you a question?
why do i can't modify all of webpack'source,
but i can't modify part

[2021-11-15 13:10] #131 closed

[2021-11-15 19:44] thre3eye commented on #131
Spiffy. Glad I could help and looking forward to removing my hack :) Thanks.

[2021-11-17 11:02] wulinsheng123 commented on #141
https://github.com/wulinsheng123/vue
sorry
this  pro can visite , before it's private .
If you have time, you can help me see

[2021-12-27 18:40] Tosinkoa commented on #66
Is there any solution? I'm facing this problem right now

[2021-12-28 11:09] alexander-akait commented on #66
Please run `npx webpack-cli info`

[2021-12-29 15:46] Tosinkoa commented on #66
Here is the result @alexander-akait

PS C:\Users\user\practice-project> npx webpack-cli info
Need to install the following packages:
  webpack-cli
Ok to proceed? (y) y
[webpack-cli] Error: Command failed: wmic os get Caption
'wmic' is not recognized as an internal or external command,
operable program or batch file.

    at b (C:\Users\user\AppData\Local\npm-cache\_npx\73f0de3f6fbaf968\node_module

[2021-12-29 16:00] alexander-akait commented on #66
oh, that is weird, looks bug in `envinfo`...

[2021-12-29 20:08] Tosinkoa commented on #66
Can you please break it down?

[2022-01-28 00:23] ichiriac commented on #66
Hi, I've got the same problem with node v14.18.3

In my cse I was on a debian 11 server with 1 go of ram (and 2 Go of swap) and got the same problem.

I've ran `export NODE_OPTIONS="--max-old-space-size=1024"` and then relaunched the build, used some swap but it passed.

Hope can help

[2022-02-07 13:45] jagdishj opened #144 "ng build success but throwing error on ng serve -- return new error"
I am getting the below issue in my angular project on ng serve but ng build is successful.

I have done the below trials to resolve the error
trial 1: Removed the .angular folder and node modules folder and tried to install the modules again but no luck.
trial 2: removed the angular and node packages and tried to install again but got same error.

Error :
node_modules\webpack-sources\lib\SizeOnlyS

[2022-02-07 13:48] alexander-akait commented on #144
Please open an issue in `angular-cli`, I think it was fixed in the latest stable release

[2022-02-07 13:59] jagdishj commented on #144
thank you for your quick response, I have updated my angular to the latest version and confirmed using ng update. but still issue persists.
i have opened the issue in angular cli - https://github.com/angular/angular/issues/44996

[2022-02-07 14:44] jagdishj commented on #144
finally got the solution
the issue is resolved by altering the app.module page to force angular to throw errors and then undo it and tried to run the code.

Note: in my trials, I have done cache clear many times but still it's not resolved at that time.

[2022-02-07 14:45] jagdishj commented on #144
finally got the solution
the issue is resolved by altering the app.module page to force angular to throw errors and then undo it and tried to run the code.

Note: in my trials, I have done cache clear many times but still it's not resolved at that time.

[2022-02-07 14:45] #144 closed

[2022-04-19 14:50] DiegoCoderpillar commented on #144
@jagdishj
Can you explain this better?

[2022-04-19 15:44] jagdishj commented on #144
i was getting issue when i tried to run the existing code (which is downloaded from company account github).
the application throwing the error points to node modules file. as mentioned in above thread.

to resolve the issue i have deleted the node modules folder in angular project. and modified the ng module file to download the modules again.

[2022-11-26 13:04] indux opened #148 "ReplaceSource.js:82 this._source.node is not a function"
Hi, i try to start node server, but get below error, it seems .node is undefined.

[code]

The package.json file contains:
[code]

[2022-11-26 19:47] alexander-akait commented on #148
Can you provide reproducible repo?

[2022-11-28 13:27] indux commented on #148
sure, pls refer to
https://github.com/indux/OnlineTools
with command
npm run dev

[2022-11-28 14:15] alexander-akait commented on #148
@DylanPiercey friendly ping

The bug is in `@marko/webpack/plugin`, you have multiple version of `webpack-sources`.

Here - https://github.com/marko-js/webpack/blob/master/src/plugin/index.ts#L3.

For webpack@5 you should not use `import { ReplaceSource } from "webpack-sources";` (because you can have multiple version of `webpack-sources` and they can have incompatibilities between versions), you

[2022-11-29 12:35] indux commented on #148
After upgrading to "@marko/webpack": "^9.3.1", issue resolved, close this issue.

Thank you ALL!

[2022-11-29 12:35] #148 closed